<h1> <%= @cocktail.name %> </h1>

<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit %>
<% end %>
<%= simple_form_for [ @cocktail ] do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>

